<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('Editar Aluno')"></head>
<body>

    <div th:replace="fragments/layout.html :: header('Editar Aluno')"></div>

    <div th:fragment="conteudo">
        <h1>Editar Aluno</h1>
        <form th:action="@{/alunos/edit/{id}(id=${aluno.id})}" th:object="${aluno}" method="POST" class="was-validated">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Aluno</label>
                <input type="text" id="nome" th:field="*{nome}" class="form-control" required>
                <div class="invalid-feedback">
                    O campo nome é obrigatório.
                </div>
            </div>

            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" id="endereco" th:field="*{endereco}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" id="cidade" th:field="*{cidade}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="uf" class="form-label">UF</label>
                <select id="uf" th:field="*{uf}" class="form-select">
                    <option th:each="uf : ${UnidadeFederacao}" th:value="${uf.sigla}" th:text="${uf.nome}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
        </form>
    </div>

    <div th:replace="fragments/layout.html :: footer"></div>

</body>
</html>
